{
    "APP_NAME": "djekanoo-cinetpay-connector",
    "APP_ENV": "development",
    "APP_DEBUG": true,
    "APP_KEY": "",
    "APP_URL": "http://localhost:9000",
    "API_KEY": "DleOSWSyNL0xxOToMjDQ0OTg",
    "APP_AUTO_CSRF": false,

    "CINETPAY_SITE_ID": "",
    "CINETPAY_API_KEY": "",
    "CINETPAY_API_SECRET": "",
    "CINETPAY_PAYMENT_URL": "https://api-checkout.cinetpay.com/v2/payment",
    "CINETPAY_CHECK_URL": "https://api-checkout.cinetpay.com/v2/payment",
    "CINETPAY_TRANSFER_URL": "https://api-checkout.cinetpay.com/v2/payment"
}
