{
    "APP_NAME": "djekanoo-cinetpay-connector",
    "APP_ENV": "development",
    "APP_DEBUG": true,
    "APP_KEY": "",
    "APP_URL": "http://localhost:9000",
    "API_KEY": "DleOSWSyNL0xxOToMjDQ0OTg",
    "APP_AUTO_CSRF": false,

    "CINETPAY_SITE_ID": "",
    "CINETPAY_KEY": "",
    "CINETPAY_SECRET": "",
    "CINETPAY_TRANSFER_PASSWORD": "",

    "CINETPAY_PAYMENT_BASE_URL": "https://api-checkout.cinetpay.com/v2",
    "CINETPAY_PAYMENT_URL": "${CINETPAY_PAYMENT_BASE_URL}/payment",
    "CINETPAY_CHECK_URL": "${CINETPAY_PAYMENT_BASE_URL}/payment/check",

    "CINETPAY_TRANSFER_BASE_URL": "https://client.cinetpay.com/v1",
    "CINETPAY_TRANSFER_TOKEN": "${CINETPAY_TRANSFER_BASE_URL}/auth/login",
    "CINETPAY_TRANSFER_URL": "${CINETPAY_TRANSFER_BASE_URL}/transfer/money/send/contact",
    "CINETPAY_CONTACT_URL": "${CINETPAY_TRANSFER_BASE_URL}/transfer/contact",
    "CINETPAY_BALANCE_URL": "${CINETPAY_TRANSFER_BASE_URL}/transfer/check/balance",
    "CACHE_DRIVER": "redis",
    "REDIS_PREFIX": "connector:cinetpay:"
}
